<div class="content card">
  <div class="card-header">

    <div class="item-summary" header="Title">
      <div class="circle" [style]="{'backgroundColor':'#06d79c'}">
        <i class="pi pi-wallet" style="font-size: 2rem"></i>
      </div>
      <div class="text">
        <h3>0/0</h3>
        <p>texto</p>
      </div>
    </div>

    <div class="item-summary" header="Title">
      <div class="circle" [style]="{'backgroundColor':'#ffb22b'}">
        <i class="pi pi-user" style="font-size: 2rem"></i>
      </div>
      <div class="text">
        <h3>0/0</h3>
        <p>texto</p>
      </div>
    </div>

    <div class="item-summary" header="Title">
      <div class="circle" [style]="{'backgroundColor':'#ef5350'}">
        <i class="pi pi-calendar" style="font-size: 2rem"></i>
      </div>
      <div class="text">
        <h3>0/0</h3>
        <p>texto</p>
      </div>
    </div>

    <div class="item-summary" header="Title">
      <div class="circle" [style]="{'backgroundColor':'#398bf7'}">
        <i class="pi pi-cog" style="font-size: 2rem"></i>
      </div>
      <div class="text">
        <h3>0/0</h3>
        <p>texto</p>
      </div>
    </div>
    

  </div>
  <hr>
  <app-map-manager></app-map-manager>
</div>
