<p-card>
  <ng-template pTemplate="header">
    <h3>Editar</h3>
    <button pButton pRipple type="button" label="Regresar" class="mr-2 mb-2" (click)="goBack()"></button>
  </ng-template>   
  
  <form class="grid p-fluid" [formGroup]="formEdit">
    <span class="col-6 p-float-label">
      <input id="Name" formControlName="name" type="text" pInputText> 
      <label for="Name">Nombre</label>
    </span>
    <span class="col-6 p-float-label">
      <input id="Slug" formControlName="sigla" type="text" pInputText> 
      <label for="Slug" >Slug</label>
    </span>
    <span class="col-12 p-float-label">
      <span for="Resume">Resumen</span>
      <p-editor id="Resume" formControlName="summary" [style]="{'height':'150px'}">        
      </p-editor>
    </span>

    <span class="col-12 p-float-label">
      <span for="Descripcion">Descripcion</span>
      <p-editor id="Descripcion" formControlName="description" [style]="{'height':'150px'}">        
      </p-editor>
    </span>

    <span class="col-12 p-float-label">
      <span for="Terminos">Términos</span>
      <p-editor id="Terminos" formControlName="terms" [style]="{'height':'150px'}">        
      </p-editor>
    </span>

    <span class="col-6 p-float-label">
      <p-calendar [showIcon]="true" inputId="icon" formControlName="openDate" styleClass="w-full"></p-calendar>
      <label>Apertura</label>
    </span>

    <span class="col-6 p-float-label">
      <p-calendar [showIcon]="true" inputId="icon" formControlName="closeDate" styleClass="w-full"></p-calendar>
      <label>Cierre</label>
    </span>

    <span class="col-12 p-float-label">
      <div class="preview-img col-md-4" *ngIf="imagesUrl.poster">
        <img [src]="urlImg(imagesUrl.poster)" class="img-responsive">
      </div>
      <h4>Poster</h4>   
      <p-fileUpload                
        [uploadLabel]="'Enviar'"
        [chooseLabel]="'Cargar imagen'"
        [cancelLabel]="'Cancelar'"
        (onSend)="uploadImage($event)" 
        (onSelect)="onSelectPoster($event)"      
        (onUpload)="onUpload($event)"
        (onBeforeUpload)="prepareToSend(uploadedPoster)"
        accept="image/*" maxFileSize="15000000">
        <ng-template pTemplate="content">          
          <ul *ngIf="uploadedFiles.length">
            <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
          </ul>
        </ng-template>
      </p-fileUpload>
    </span>

    <span class="col-12 p-float-label">
      <div class="preview-img col-md-4" *ngIf="imagesUrl.map">
        <img [src]="urlImg(imagesUrl.map)" class="img-responsive">
      </div>
      <h4>Mapa</h4>
      <p-fileUpload 
        url="#" 
        (onUpload)="onUpload($event)"
        accept="image/*" maxFileSize="15000000">
        <ng-template pTemplate="content">
          <ul *ngIf="uploadedFiles.length">
            <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
          </ul>
        </ng-template>
      </p-fileUpload>
    </span>

    <span class="col-12 p-float-label">
      <div class="preview-img col-md-4" *ngIf="imagesUrl.image">
        <img [src]="urlImg(imagesUrl.image)" class="img-responsive">
      </div>    
      <h4>Imagen</h4>
      <p-fileUpload 
        url="#" 
        (onUpload)="onUpload($event)"
        accept="image/*" maxFileSize="15000000">
        <ng-template pTemplate="content">
          <ul *ngIf="uploadedFiles.length">
            <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
          </ul>
        </ng-template>
      </p-fileUpload>
    </span>


    <span class="col-6 p-float-label">
      <span for="Plan">Plan</span>
      <p-editor id="Plan" formControlName="plan" [style]="{'height':'150px'}">        
      </p-editor>
    </span>

    <span class="col-6 p-float-label">
      <span for="contacto">Contacto</span>
      <p-editor id="contacto" formControlName="info" [style]="{'height':'150px'}">        
      </p-editor>
    </span>

    <span class="col-2  p-float-label">
      <h5>Color</h5>
      <p-colorPicker formControlName="color"></p-colorPicker>
    </span>
    <span class="col-5 p-float-label">
      <p-autoComplete 
        [suggestions]="filteredEvents" 
        styleClass="w-full"                      
        (completeMethod)="filterEvents($event)" 
        dataKey="code"
        formControlName="eventId"
        field="name" [dropdown]="true">
      </p-autoComplete>
      <label>Evento</label>
    </span>
    
    <span class="col-5 p-float-label">
      <p-autoComplete 
        [suggestions]="[{state:'Activo',value:1},{state:'Inactivo',value:0}]" 
        styleClass="w-full"                               
        dataKey="value"
        formControlName="state"
        field="state" [dropdown]="true">
      </p-autoComplete>
      <label>Activo</label>
    </span>
    

</form>


  <ng-template pTemplate="footer">
    Footer content here
  </ng-template>
</p-card>