.form-container{    
    display: flex;    
    flex-direction: row;
    flex-basis: 50;
    gap: 25px;
    
    .form-text{
        order: 1;
        margin-top: 20px;
        flex-grow: 1;
        flex-basis: 50;  
        width: 70%;             
    }
    .form-img{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
        width: 30%;
        order: 2;
        flex-grow: 4;
    }
}

.label-title{
    font-weight: 700;
    font-size: 18px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 25px;        
}
p-editor{
    height: 120px;
}

.form-row{               
    display: flex;
    flex-direction: row;
    width: 100%;      
    span{
        padding: 5px;
        order: 2;
        flex-grow: 2;  
        margin-left: 20px;  
        margin-right: 20px;  
    }    
}

@media (max-width: 768px) {
    .form-container{           
        flex-direction: column;                
        .form-text{            
            flex-grow: auto;
            width: 100%;
        }
        .form-img{            
            display: flex;
            justify-content: center;
            align-items: center;            
            flex-grow: auto;
            width: 100%;
            app-image-manager{
                width: inherit;
            }
        }
    }
}