.map{
  background-image: url("/assets/Mapa.png");
  background-repeat: no-repeat;  
  background-origin: padding-box;  
  background-position: inherit;
  background-size: contain;
  width: 550px;
  height: 550px;  
}


@media (max-width: 768px) {
  .map{
    width: 420px;
    height: 420px;  
  }
}