<div  class="pages-body login-page flex flex-column layout-topbar-pink">
    
    <div class="topbar  p-3 flex justify-content-between flex-row align-items-center layout-menu-ligth layout-topbar-pink">
        <div class="topbar-left ml-3 flex layout-menu-ligth layout-topbar-pink" routerLink="/">
            <div class="logo">
                <img height="3rem" src="assets/layout/images/logo.png" alt=""/>
            </div>
        </div>        
    </div>

    <form autocomplete="off" [formGroup]="formGroup" class="login align-self-center mt-auto mb-auto">
        <div class="pages-panel card flex flex-column">
            <div class="pages-header">
                <i class="pi pi-user"></i>
            </div>

            <h4>{{ 'login.welcome' | translate }}</h4>

            <div class="pages-detail mb-6 px-6">{{ 'login.please' | translate }}</div>
                                
            <div class="input-panel flex flex-column px-3">
                <div class="p-inputgroup" >
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-envelope"></i>
                    </span>
                    <span class="p-float-label">
                        <input     
                        (keydown.enter)="login()"                    
                        type="text" 
                        id="email" 
                        formControlName="username" 
                        placeholder="Correo"
                        pInputText>
                        
                        <!--label for="email">{{ 'login.email' | translate }}</label-->
                    </span>
                </div>

                <div class="p-inputgroup mt-3 mb-6">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-lock"></i>
                    </span>
                    <span class="p-float-label">
                        <input 
                        (keydown.enter)="login()"
                        type="password" 
                        id="password" 
                        formControlName="password" 
                        placeholder="Contraseña"
                        pInputText>
                        <!--label for="password">{{ 'login.password' | translate }}</label-->
                    </span>
                </div>

            </div>

            <p-button 
            *ngIf="!disabledField"
            class="login-button mb-6 px-3" 
            [label]="'Iniciar Session'"  
            (click)="login()"
            >        
            </p-button>

            <p-button 
            *ngIf="disabledField"
            class="login-button mb-6 px-3" 
            [label]="'Iniciando session'"  
            disabled="true"          
            >        
            </p-button>
            
            
        </div>
        
    </form>    
    <app-footer></app-footer>
</div>

    <ngx-loading
    [show]="loading"
    [config]="{ backdropBorderRadius: '3px' }"    
  ></ngx-loading>
    <app-toast
        [message]="modalError.message"
        [display]="modalDisplay">
    </app-toast>