<div class="card image-content first-content">
  <div class="form-row">        
    <span class="label-title">{{keyImage}}</span>
  </div>
  <div class="form-row">        
    <img [src]="imageBase64?imageBase64:'assets/layout/images/no-images/no-image_1.png'" />        
</div>

<div class="form-row action">
    <button 
    class="p-button-help   btn-single"
    (click)="uploadImage()"
    pButton pRipple 
    type="button" 
    [ngClass]="{'editable': isImageLoaded()}"        

    [label]="isImageLoaded()?'Remplazar':'Cargar'" 
    >
    </button>
    
    <button 
    *ngIf="isImageLoaded()"
    (click)="editImage()"
    pButton pRipple type="button" label="Recortar" 
    class="p-button-info editable  btn-single">
    </button>

    <input 
    class='input-file'
    id="{{keyImage}}" 
    type="file" 
    (change)="fileChangeEvent($event)"/>                               
  </div>
</div>


<p-dialog 
  position="bottom" 
  [draggable]="false" 
  dismissableMask="false"
  modal="true"
  (onHide)="disableCropByPreview()"
  [(visible)]="displayCrop">
    

  <image-cropper
  [imageChangedEvent]="imageChangedEvent"
  [maintainAspectRatio]="true"
  [aspectRatio]="4 / 4"
  format="png"
  (imageCropped)="imageCropped($event)"
  (imageLoaded)="imageLoaded($event)"
  (cropperReady)="cropperReady()"
  (loadImageFailed)="loadImageFailed()"
  ></image-cropper>

  <div>
    <button
    (click)="disableCropByPreview()"
     pButton pRipple type="button" label="Finalizar" class="p-button-help w-100 btn-single"></button>
  </div>
  </p-dialog>